<div id="modal-body" [class.open]="display" class="absolute z-10 inset-0 overflow-y-auto transition duration-500 ease-in-out">
    <div class="flex items-center min-h-screen text-center sm:p-0 bg-gray-900 bg-opacity-40 w-full" [ngClass]="{ 'pt-4 px-4 pb-20': !fullMode }">
        <div (click)="$event.stopPropagation()" class="inline-block align-bottom bg-white rounded-lg text-left shadow-xl transform transition-all overflow-y-auto mx-auto justify-center my-8" [style.width]="width" [style.height]="height" role="dialog" aria-modal="true"
            aria-labelledby="modal-headline">
            <div class="flex justify-between items-center p-4">
                <h1 class="text-2xl text-gray-500 font-bold capitalize" translate>
                    {{ modalTitle }}
                </h1>

                <svg (click)="close()" class="h-5 w-5 cursor-pointer svg-icon" viewBox="0 0 20 20">
          <path
            fill="none"
            d="M11.469,10l7.08-7.08c0.406-0.406,0.406-1.064,0-1.469c-0.406-0.406-1.063-0.406-1.469,0L10,8.53l-7.081-7.08
            c-0.406-0.406-1.064-0.406-1.469,0c-0.406,0.406-0.406,1.063,0,1.469L8.531,10L1.45,17.081c-0.406,0.406-0.406,1.064,0,1.469
            c0.203,0.203,0.469,0.304,0.735,0.304c0.266,0,0.531-0.101,0.735-0.304L10,11.469l7.08,7.081c0.203,0.203,0.469,0.304,0.735,0.304
            c0.267,0,0.532-0.101,0.735-0.304c0.406-0.406,0.406-1.064,0-1.469L11.469,10z"
          ></path>
        </svg>
            </div>

            <div class="mHeight" [ngClass]="{ 'p-5': !fullMode }">
                <ng-content></ng-content>
            </div>
            <ng-container *ngIf="footer">
                <div class="" [ngTemplateOutlet]="footer"></div>
            </ng-container>
        </div>
    </div>
</div>