.image-container {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    width: 5vw;
    border-radius: 50%;
    /* border: 1px solid rgb(171, 166, 166); */
    overflow: hidden;
}

.mat-form-field {
    display: block;
}

textarea {
    height: 100px;
    resize: vertical;
}

.mat-dialog-content {
    min-height: 30vh !important;
    overflow: hidden !important;
}

.mat-tab-group {
    min-height: 25vh !important;
}

.chips-container {
    min-height: 15vh;
}