<main>
  <div *ngIf="images && images.length > 0" class="carousel-container">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="shadow-xl height sm:overflow-hidden sm:rounded-2xl">
        <div class="absolute inset-0">
          <img
            class="h-full w-full object-cover"
            *ngFor="let image of images; let i = index"
            [src]="image.imageSrc"
            [alt]="image.alt"
            [ngClass]="{ 'image-active': selectedIndex === i }"
          />
          <div class="absolute inset-0 bg-yellow-800 mix-blend-multiply"></div>
        </div>
        <div
          class="relative mt-20 px-4 py-16 sm:px-6 sm:py-24 lg:m-auto lg:px-8"
        >
          <h1
            class="text-center text-4xl font-bold tracking-tight sm:text-5xl lg:text-6xl"
          >
            <span class="block text-white">Choose a burger</span>
            <span class="block text-yellow-600">from our menu</span>
          </h1>
          <p
            class="mx-auto mt-6 max-w-lg text-center text-xl text-yellow-100 sm:max-w-3xl"
          >
            or you can create your own burger with your favorite ingredients
          </p>
          <div
            class="mx-auto mt-10 max-w-sm sm:flex sm:max-w-none sm:justify-center"
          >
            <div
              class="space-y-4 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5 sm:space-y-0"
            >
              <button
                (click)="createOrder()"
                class="flex items-center justify-center rounded-md border border-transparent bg-white px-4 py-3 text-base font-medium text-primary shadow-sm hover:bg-yellow-50 sm:px-8"
              >
                Create
              </button>
              <a
                href="/burgers"
                class="flex items-center justify-center rounded-md border border-transparent bg-primary bg-opacity-60 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-opacity-70 sm:px-8"
              >
                Menu
              </a>
            </div>
          </div>
          <div *ngIf="indicators" class="carousel-dot-container">
            <span
              *ngFor="let dot of images; let i = index"
              class="dot"
              [ngClass]="{ active: selectedIndex === i }"
              (click)="changeImages()"
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
