@use '~@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// Include non-theme styles for core.
@include mat.core();
$mat-custom-theme: (
  A700:
    variable-exists(
      $name: --mainColor,
    ),
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  ),
);

:root {
  //main theme colors
  --mainColor: #ee7727;
  --secondColor: #b45309;
  --carouselText: #ca8a04;
  --coverPhoto: #92400e;
}

// Define a theme.
$primary: mat.define-palette($mat-custom-theme);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$theme: mat.define-light-theme($primary, $accent);
// Include all theme styles for the components.
@include mat.all-component-themes($theme);
.spinner-container {
  position: fixed;
  height: 300px;
  width: 345px;
  display: flex;
  background: white;
  margin-top: 70px;
  z-index: 1;
  opacity: 0.5;
  justify-content: center;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1280px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1536px) {
  html {
    font-size: 15px;
  }
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: var(--mainColor);
}

::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: var(--mainColor);
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: var(--mainColor);
  border-radius: 10px;
}

.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate {
  background-color: var(--mainColor);
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--mainColor);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background: var(--mainColor);
}

.mat-tab-label {
  // color: #ee7727;
}
