table {
    width: 100%;
}

.title {
    text-align: center;
}

.custom-container {
    min-height: 100vh;
}

.counters {
    display: flex;
}

.filler {
    flex: 1 1 auto;
}

h2 {
    font-family: 'Roboto';
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .spinner-container {
    margin-top: 100px;
} */

.customHeight {
    /* height: 10vh !important; */
}