<div *ngFor="let history of historyOrders$ | async" class="overflow-hidden bg-white shadow sm:rounded-md">
    <div *ngFor="let element of history?.historyOrders">
        <ul role="list" class="divide-y divide-gray-200">
            <li>
                <div class="block hover:bg-gray-50">
                    <div class="flex items-center px-4 py-4 sm:px-6">
                        <div class="flex min-w-0 flex-1 items-center">
                            <div class="flex-shrink-0">
                                <img class="h-12 w-12 rounded-full" [src]="element.orders.image" alt="" />
                            </div>
                            <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                                <div>
                                    <p class="truncate text-sm font-medium text-indigo-600">
                                        {{ element.orders?.name }}
                                    </p>

                                    <div class="flex">
                                        <p *ngFor="let ing of element.orders?.ingredients" class="mt-2 flex items-center text-sm text-gray-500">
                                            <!-- Heroicon name: mini/envelope -->
                                            <!-- <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path
                        d="M3 4a2 2 0 00-2 2v1.161l8.441 4.221a1.25 1.25 0 001.118 0L19 7.162V6a2 2 0 00-2-2H3z"
                      />
                      <path
                        d="M19 8.839l-7.77 3.885a2.75 2.75 0 01-2.46 0L1 8.839V14a2 2 0 002 2h14a2 2 0 002-2V8.839z"
                      />
                    </svg> -->
                                            <span class="truncate">{{ ing.name }},</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="hidden md:block">
                                    <div>
                                        <p class="text-sm text-gray-900">
                                            Created on
                                            <span>
                        {{ element.orders?.creationDate | date: 'short' }}</span
                      >
                      <!-- <time datetime="2020-01-07">January 7, 2020</time> -->
                    </p>
                    <p class="mt-2 flex items-center text-sm text-gray-500">
                      <!-- Heroicon name: mini/check-circle -->
                      <svg
                        class="mr-1.5 h-5 w-5 flex-shrink-0 text-green-400"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                          clip-rule="evenodd"
                        />
                      </svg>
                      Completed on&nbsp;
                      <span> {{ element.deliveredDate | date: 'short' }}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>