<div class="flex justify-between w-2/3 mx-auto mt-5 mb-4">
    <div class="flex justify-start">
        <h1 class="font-medium text-3xl">Order history</h1>
    </div>
    <div class="flex justify-end">
        <button *ngIf="selectedOrdersForDelete?.length > 0" class="bg-white text-primary rounded-sm border border-primary ml-3 font-medium my-auto h-8 w-28" (click)="deleteHistoryOrders()">
      Delete
    </button>
    </div>
</div>
<div *ngFor="let history of historyOrders$ | async" class="overflow-hidden mt-8 w-2/3 mx-auto bg-white shadow sm:rounded-md">
    <div class="flex justify-between w-5/6 mt-3">
        <div class="flex items-center">
            <div class="flex flex-col ml-10 truncate" [matToolTip]="history.id">
                <h2 class="text-gray-900 text-base">Order id</h2>
                <span class="align-middle text-gray-500 text-sm">{{
          history.id | slice: 0:8
        }}</span>
            </div>
            <div class="flex flex-col ml-10 truncate">
                <h2 class="text-gray-900 text-base">Total price</h2>
                <span class="text-center text-gray-500 text-sm">{{ history.totalPrice }}€</span
        >
      </div>
    </div>
    <div class="flex justify-end -mr-6">
      <mat-checkbox
        [value]="history.id"
        (change)="onSelectOrdersForDelete($event)"
      ></mat-checkbox>

      <!-- <input type="checkbox" [value]="history.id"  /> -->
    </div>
  </div>

  <div *ngFor="let element of history?.historyOrders" class="">
    <ul role="list" class="divide-y-8 mt-5 divide-gray-300">
      <li>
        <div class="block hover:bg-gray-50">
          <div class="flex items-center px-4 py-4 sm:px-6">
            <div class="flex min-w-0 flex-1 items-center">
              <div class="flex-shrink-0">
                <img
                  *ngIf="element.image"
                  class="h-12 w-12 rounded-full"
                  [src]="element?.image"
                  alt=""
                />
                <img
                  *ngIf="!element.image"
                  class="h-12 w-12 rounded-full"
                  src="https://img.freepik.com/premium-vector/fastfood-burger-vector-illustration_123673-17.jpg"
                  alt=""
                />
              </div>
              <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-3 md:gap-4">
                <div>
                  <p class="truncate text-sm font-medium text-indigo-600">
                    {{
                      element.name
                        ? element.name
                        : ('Burger' + element.id | slice: 0:14)
                    }}
                  </p>

                  <div class="flex">
                    <p
                      *ngFor="let ing of element?.ingredients"
                      class="mt-2 flex items-center text-sm text-gray-500"
                    >
                      <span class="truncate">{{ ing.name }},</span>
                </p>
            </div>
        </div>

        <div class="md:block">
            <div class="flex mt-6 gap-4">
                <p class="text-sm text-gray-900">Quantity</p>
                <span class="flex items-center text-sm text-gray-500">
                      {{ element.ORDER_HISTORY.quantity }}
                    </span>
            </div>
        </div>

        <div class="hidden md:block">
            <div>
                <p class="text-sm text-gray-900">
                    Created on
                    <span> {{ element?.creationDate | date: 'short' }}</span>
                </p>
                <p class="mt-2 flex items-center text-sm text-gray-500">
                    <svg class="mr-1.5 h-5 w-5 flex-shrink-0 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path
                          fill-rule="evenodd"
                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                          clip-rule="evenodd"
                        />
                      </svg> Completed on&nbsp;
                    <span> {{ history.deliveredDate | date: 'short' }}</span>
                </p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</li>
</ul>
</div>
</div>