.icon {
  position: relative;
  top: 28px;
}
.orangeClass {
  background-color: #ee7727;
}
.blueClass {
  background-color: #0459a9;
}
.greenClass {
  background-color: #066619;
}
.roseClass {
  background-color: #fca5a5;
}

::ng-deep .mat-ink-bar {
  background-color: var(--mainColor);
}
/* .panelContainer {
  height: 50px;
}
.panelContainer > mat-expansion-panel {
  z-index: 1; 
} */
