body {
    margin: 0;
}

.tool-div {
    background: black;
}

main {
    margin: 30px;
}

.menu-button {
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
}

.spinner-container {
    width: 100%;
    margin-top: 100px;
}

.links-container {
    margin-bottom: 6px;
}

.icon {
    position: relative;
    top: 29px;
}