<ng-container>
    <nav *ngIf="isLoggedIn | async">
        <div class="flex justify-between w-full tool-div p-3">
            <div class="flex items-center ml-20">
                <button [matMenuTriggerFor]="normalMenu">
          <mat-menu
            #normalMenu="matMenu"
            class="flex justify-center items-center"
          >
            <button mat-list-item (click)="logout()">
              <mat-icon class="align-middle">exit_to_app</mat-icon>
              Logout
            </button>
                </mat-menu>
                <mat-icon class="text-white">menu</mat-icon>
                </button>
                <div class="ml-6 flex items-center text-center text-white font-bold links-container">
                    <div class="hover:text-yellow-500 hover:underline">
                        <a class="mr-6" href="/home">Home</a>
                    </div>
                    <div class="hover:text-yellow-500 hover:underline">
                        <a href="/burgers"> Menu </a>
                    </div>
                </div>
            </div>

            <div class="mr-16">
                <shopping-cart (openShoppingCartModal)="onOpenCart($event)"></shopping-cart>
            </div>
        </div>
    </nav>
</ng-container>